<div class="main-footer">
  <div id="tag">
    <h3>Étiquettes</h3>
    <div class="row">
      <ul>
        <li><a href="{{@blog.url}}/tag/arduino" class="etiquette">1</a></li>
        <li><a href="{{@blog.url}}" class="etiquette">2</a></li>
        <li><a href="{{@blog.url}}" class="etiquette">3</a></li>
        <li><a href="{{@blog.url}}" class="etiquette">4</a></li>
      </ul>
    </div>
    <div class="row">
      <ul>
        <li><a href="{{@blog.url}}" class="etiquette">1</a></li>
        <li><a href="{{@blog.url}}" class="etiquette">2</a></li>
        <li><a href="{{@blog.url}}" class="etiquette">3</a></li>
        <li><a href="{{@blog.url}}" class="etiquette">4</a></li>
      </ul>
    </div>
    <div class="row">
      <ul>
        <li><a href="{{@blog.url}}" class="etiquette">1</a></li>
        <li><a href="{{@blog.url}}" class="etiquette">2</a></li>
        <li><a href="{{@blog.url}}" class="etiquette">3</a></li>
        <li><a href="{{@blog.url}}" class="etiquette">4</a></li>
      </ul>
    </div>
    <div class="row">
      <ul>
        <li><a href="{{@blog.url}}" class="etiquette">1</a></li>
        <li><a href="{{@blog.url}}" class="etiquette">2</a></li>
        <li><a href="{{@blog.url}}" class="etiquette">3</a></li>
        <li><a href="{{@blog.url}}" class="etiquette">4</a></li>
      </ul>
    </div>
  </div>
  <div id="contact">
    <h3>Nous suivre</h3>
      <div id="zebrilee">
        <h4>Zebrilee</h4>
        <a href="#">Twitter</a>
        <a href="#">Github</a>
      </div>
      <div id="vineko">
        <h4>Vineko</h4>
        <a href="#">Twitter</a>
        <a href="#">Github</a>
        <a href="mailto:#">Mail</a>
      </div>
  </div>
  <div id="difficulte">
    <h3>Difficulté</h3>
    <li>= facile</li>
    <li>= moyen</li>
    <li>= difficile</li>
  </div>
</div>
