<div class="main-footer">
  <section>
    <h2>Etiquettes</h2>
    <div class="row">
      <ul>
        <li><a href="{{@blog.url}}/tag/arduino">1</a></li>
        <li><a href="{{@blog.url}}">2</a></li>
        <li><a href="{{@blog.url}}">3</a></li>
        <li><a href="{{@blog.url}}">4</a></li>
      </ul>
    </div>
    <div class="row">
      <ul>
        <li><a href="{{@blog.url}}">1</a></li>
        <li><a href="{{@blog.url}}">2</a></li>
        <li><a href="{{@blog.url}}">3</a></li>
        <li><a href="{{@blog.url}}">4</a></li>
      </ul>
    </div>
    <div class="row">
      <ul>
        <li><a href="{{@blog.url}}">1</a></li>
        <li><a href="{{@blog.url}}">2</a></li>
        <li><a href="{{@blog.url}}">3</a></li>
        <li><a href="{{@blog.url}}">4</a></li>
      </ul>
    </div>
    <div class="row">
      <ul>
        <li><a href="{{@blog.url}}">1</a></li>
        <li><a href="{{@blog.url}}">2</a></li>
        <li><a href="{{@blog.url}}">3</a></li>
        <li><a href="{{@blog.url}}">4</a></li>
      </ul>
    </div>
  </section>
  <aside>
    <h2>Contact</h2>
  </aside>

</div>
